@import "tailwindcss";

body {
  background-color: var(--site-bg);
  font-family: "Quicksand", sans-serif;
}

:root {
  --site-bg: #101820;
  --lifeline-bg: #2c3e50;
  --lifeline-border: #4b6584;
  --main-divs: #1f2a38;
  --secondary-divs: #2a3c4f;
  --main-texts: #ecf0f1;
  --lighter-secondary-backgrounds: #2e4053;
  --secondary-backgrounds-text: #d0d3d4;
  --lighter-secondary-backgrounds-text: #b0bec5;
}
