@import "tailwindcss";

body {
  background-color: var(--site-bg);
  font-family: "Quicksand", sans-serif;
}

.loader {
  width: 48px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #00ff15 94%, #0000),
    radial-gradient(farthest-side, #ff6767 94%, #0000),
    radial-gradient(farthest-side, #ffe600 94%, #0000),
    radial-gradient(farthest-side, #251002 94%, #0000), #ed303c;
  background-size: 105% 105%;
  background-repeat: no-repeat;
  animation: l5 2s infinite;
}
@keyframes l5 {
  0% {
    background-position:
      50% -50px,
      -40px 50%,
      50% calc(100% + 50px),
      calc(100% + 50px) 50%;
  }
  20%,
  25% {
    background-position:
      50% -50px,
      -50px 50%,
      50% calc(100% + 50px),
      50% 50%;
  }
  45%,
  50% {
    background-position:
      50% -50px,
      -50px 50%,
      50% 50%,
      50% 50%;
  }
  75%,
  75% {
    background-position:
      50% -50px,
      50% 50%,
      50% 50%,
      50% 50%;
  }
  95%,
  100% {
    background-position:
      50% 50%,
      50% 50%,
      50% 50%,
      50% 50%;
  }
}

:root {
  --site-bg: #fff5f0;
  --lifeline-bg: #fbdccf;
  --lifeline-border: #f8bfa0;
  --main-divs: #fde7d6;
  --secondary-divs: #f9d0af;
  --main-texts: #8f5a3c;
  --lighter-secondary-backgrounds: #fff1e6;
  --secondary-backgrounds-text: #c28f66;
  --lighter-secondary-backgrounds-text: rgb(255, 248, 234);
}
/*Toggle for dark/light mode VVVVV*/
/* 
:root {
  --site-bg: #101820;
  --lifeline-bg: #2c3e50;
  --lifeline-border: #4b6584;
  --main-divs: #1f2a38;
  --secondary-divs: #2a3c4f;
  --main-texts: #ecf0f1;
  --lighter-secondary-backgrounds: #2e4053;
  --secondary-backgrounds-text: #d0d3d4;
  --lighter-secondary-backgrounds-text: #b0bec5;
} */
